<h1>Hi {{user}}</h1>
<p><a href="/" ng-click='logout()'>Log Out</a></p>
<p><a href="#!/questions/new">Add a Question</a></p>

<p><input type="text" ng-model='x' placeholder="Search..."></p>

<table>
	<tr>
		<th>Question</th>
		<th>Answers</th>
		<th>Action</th>
	</tr>
	<tr ng-repeat='question in questions | filter: x'>
		<td>{{ question.question }}</td>
		<td>{{ question.answers.length }}</td>
		<td><a href="#!/questions/{{ question._id }}">Show</a> | <a href="#!/questions/{{ question._id}}/new_answer">Answer</a></td>
	</tr>
</table>